body {
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

header {
  border-bottom: 1px solid #8888887a;
  height: 25px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

header .buttons {
  border-right: 1px solid #8888887a;
  padding: 0 5px;
  margin-right: 5px;
}

header select {
  background-color: transparent;
}

header b {
  padding: 0 5px;
}

header select {
  border: none;
}

main {
  display: flex;
}

main .sidebar {
  overflow-y: auto;
  max-height: calc(100vh - 25px);
}

main .sidebar > div {
  font-size: 12px;
  padding: 10px 20px 10px 10px;
  border-right: 1px solid #f9f9ef;
  cursor: pointer;
}

main .code {
  width: 100%;
  max-height: calc(100vh - 25px);
  overflow: auto;
  font-size: 12px;
  overflow-x: hidden;
}

.save-modification, .stack {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 0 10px;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.devtools.message {
  margin: 20px;
  text-align: center;
}

.ant-message {
  bottom: 20px;
  top: initial;
}

.stack-list {
  width: 100%;
  display: block;
  list-style-type: none;
  padding: 0;
}

.stack-list li {
  padding: 10px;
  font-size: 12px;
  width: 100%;
  word-wrap: break-word;
}

/* DARK THEME */
body.dark {
  color: #dbdbdb;
  background-color: #292a2d;
}

body.dark header button {
  color: #919191;
}

body.dark header button:hover {
  color: #dbdbdb;
}

body.dark header {
  background-color: #292a2d;
}

body.dark header select {
  color: #dbdbdb;
}

body.dark main .sidebar > div {
  border-right: 1px solid #333;
  color: #919191;
}

body.dark main .sidebar > div:hover:not(.active) {
  background-color: #202020;
  color: #dbdbdb;
}

body.dark main .sidebar .active {
  color: #dbdbdb;
  background-color: #111;
}

body.dark .save-modification button, body.dark .stack button {
  color: #919191;
  background-color: #3e3c3c;
}

body.dark .save-modification button:hover, body.dark .stack button:hover {
  color: #dbdbdb;
}

body.dark .transparent-button.active {
  color: #8ab4f8;
}

body.dark .stack-list li:nth-child(even) {
  background-color: #202020;
}

/* LIGHT THEME */
body.light header, body.light .save-modification {
  background-color: #f1f3f4;
}

body.light .save-modification {
  border-top: 1px solid #8888887a;
}

body.light header button {
  color: #6e6e6e;
}

body.light header button:hover {
  color: #202124;
}

body.light main .sidebar > div {
  border-right: 1px solid #f9f9ef;
}

body.light main .sidebar > div:hover:not(.active) {
  background-color: #f9f9ef;
}

body.light main .sidebar .active {
  background-color: #f9f9f9;
}

body.light .save-modification button, body.light .stack button {
  color: #080808c7;
  border: 1px solid #d8d8d8;
}

body.light .save-modification button:hover, body.light .stack button:hover {
  color: #202124;
}

body.light .transparent-button.active {
  color: #1b73e8;
}

body.light .stack-list li:nth-child(even) {
  background-color: #f9f9f9;
}

@media (min-width: 920px) {
  .code {
    display: flex;
  }

  .code > div {
    flex: 1;
    height: calc(100vh - 25px);
    overflow-y: auto;
  }

  .stack button {
    position: fixed;
  }
}
